.monaco-find-ast-remark {
	background: rgba(252, 159, 159, 0.53);
}
.json-tree-find-active {
	background-color: rgba(181, 213, 251, 0.71);
}
.right-panel {
	display: grid;
	grid-template-rows: 50% auto;
}
.json-preview-is-include-selection {
	background-color: rgba(181, 213, 251, 0.71);
}
