.low-code-target-item__select {
	& > * {
		border: 1px #f14357 dashed;
	}
}
.low-code-target-item__hover {
	z-index: 100000;

	& > * {
		border: 1px #078cfa dashed !important;
		outline: 1px #078cfa dashed !important;
		box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
			0 5px 12px 4px rgba(0, 0, 0, 0.09);
	}
}
.low-code-target-item__dropping {
	& > * {
		border: unset;
	}
}

.drop-area__active {
	border: 1px solid green;
	background: rgba(229, 74, 74, 0.34);
}

.low-code-container {
	box-sizing: border-box;
	display: none;
	position: relative;
}

.low-code-container-vertical {
	width: 100%;
	height: 0;
	display: block;
}
.low-code-container-horizontal {
	display: inline;
}
.low-code-container-label {
	display: none;
}
.low-code-container-closest {
	border: 1px #d5946b dashed;
	background: rgba(245, 171, 169, 0.71);
}

.low-code-container-hover {
	padding: 4px;
	border: 1px rgba(246, 109, 58, 0.71) dashed;
}

.low-code-container-closest.low-code-container-vertical {
	padding: 8px;
}
.low-code-container-closest.low-code-container-horizontal {
	padding: 8px;
}

.low-code-target-item__dragging {
	.low-code-container {
		display: none;
	}
}
.low-code-target-item__menu {
	position: absolute;
	display: none;
	width: 100%;
	height: 20px;
	margin-top: -20px;
	border: none;
	background: rgba(43, 43, 45, 0.7);
	color: #fff;
	border: none !important;
	outline: none !important;
}
.low-code-container__dragging {
	.low-code-target-item__hover > .low-code-target-item__menu {
		display: none;
	}
}

.low-code-target-item__hover > .low-code-target-item__menu {
	display: inline-flex;
	width: max-content;
	min-width: 50px;
	z-index: 100000;
	justify-content: space-between;
}
.drop-slot {
	background: red;
	height: 2px;
	overflow-y: hidden;
}
